$sport-yellow: #ffcc00;
$sport-overlay-bg: rgba(0,0,0,0.6);
.theme--sport {

  ::selection {
    background: rgba($sport-yellow, 0.8); /* WebKit/Blink Browsers */
    color: #000;
  }

  .card {

    // yellow branding

    &__toolbar .icon,
    &__fact-hashtag {
      color: $sport-yellow;
    }

    &__social {
      border-left: $card-toolbar-border;
    }
    &__duration {
      font-weight: 700;
      color: #fff;
      .icon {
        font-weight: 500;
      }
    }

  }


  .card--video {

    .card__headline {
      h3 {
        font-size: 18px;
        color: $sport-yellow;
      }
    }


    .card__content {
      position: absolute;
      bottom: $card-toolbar-height;
      background: $sport-overlay-bg;
    }

    .card__sub-headline {
      margin-bottom: 0;
      p {
        color: #fff;
      }
    }

    .card__toolbar {
      background: $sport-overlay-bg;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .card__duration {
      margin-top: 16px;
    }
    .card__more-cta {
      color: $sport-yellow;
      font-weight: 700;
    }

  }


}