
// GEL Cards
// ------------------------------------------------------------------------ //
//
// ------------------------------------------------------------------------ //


.card__poll-options {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__poll-option {
  flex-basis: 40%;
  display: flex;
  flex-grow: 1;
  position: relative;
  padding: 0;
  cursor: pointer;
  background: #fff;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
  &:nth-child(even) {
    margin-left: $half-spacing-unit;
  }
  &:nth-child(odd) {
    margin-right: $half-spacing-unit;
  }
  &.is-selected {

  }
  span {
    color: map-get($brand-colors, iplayer);
    align-self: center;
  }
}


// overrides to default card styles

.card--poll {

  .card__content {
    background: map-get($brand-colors, iplayer);
    align-items: flex-start;
  }

  .card__headline {
    h3 {
      color: #fff;
      text-align: center;
    }
  }

  .card__toolbar {
    border-color: #fff;
    background: map-get($brand-colors, iplayer);
    ul li {
      border-color: #fff;
    }
  }

  .card__more-cta,
  .icon {
    color: #fff;
  }

}
