.card__gallery {
  position: relative;
  border-bottom: map-get($card-theme, toolbar-border);
}

.card__gallery-container {
}

.card__gallery-images {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  img {
    flex: 1 0 100%;
    width: 100%;
    height: auto;
  }
}

.card__gallery-controls {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  z-index: 2;
  justify-content: space-between;
}

.card__gallery-button {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  cursor: pointer;
}

.card__gallery-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  color: #fff;
}

// .card__gallery-play,
// .card__gallery-pause,
// .card__gallery-prev,
// .card__gallery-next {
//   flex-basis: 48px;
//   position: relative;
//   color: #fff;
//   cursor: pointer;
//   &.is-hidden {
//     display: none;
//   }
// }
