

.card__quote {
  flex-basis: 100%;
  margin-bottom: 16px;
  h3 {
    font-family: Georgia, serif;
    font-weight: 500;
    font-style: italic;
    @include font-size(24px);
    margin: 0;
  }
}

.card__quote-icon {
  .icon {
    font-size: 40px;
  }
}

.card__quote-hashtag {
  color: map-get($brand-colors, iplayer);
}

.card__quote-author {
  flex-basis: 100%;
  color: map-get($brand-colors, iplayer);
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  padding-top: 19px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 3px;
    background: #ccc;
  }
}

.card__quote-twitter {
  flex-basis: 100%;
  font-size: 1.8rem;
}

.card__quote-icon {
  flex-basis: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 16px;
  color: map-get($brand-colors, iplayer);
  .icon {
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    margin: 0;
  }
}

.card--quote {
  border-top: 3px solid map-get($brand-colors, iplayer);
  .card__content {
    align-content: center;
  }
}
