<script id="card" type="text/x-handlebars-template">
  <div class="card card--poll js-card">
    <div class="card__content">
      <div class="card__headline">
        <h3>Aliquam dignissim congue justo eu pulvinar. In faucibus?</h3>
      </div>
      <ul class="card__poll-options js-poll">
        <li class="card__poll-option js-poll-option"><span>Option 1</span></li>
        <li class="card__poll-option js-poll-option"><span>Option 2</span></li>
        <li class="card__poll-option js-poll-option"><span>Option 3</span></li>
        <li class="card__poll-option js-poll-option"><span>Option 4</span></li>
      </ul>
    </div>
    <div class="card__share-panel share-panel js-share-panel">
      <h4>Share...</h4>
      <ul class="share-panel__options">
        <li class="share-panel__option"><i class="icon icon--digg"></i><span>Digg</span></li>
        <li class="share-panel__option"><i class="icon icon--google"></i><span>Google</span></li>
        <li class="share-panel__option"><i class="icon icon--reddit"></i><span>Reddit</span></li>
        <li class="share-panel__option"><i class="icon icon--twitter"></i><span>Twitter</span></li>
        <li class="share-panel__option"><i class="icon icon--facebook"></i><span>Facebook</span></li>
        <li class="share-panel__option"><i class="icon icon--linkedin"></i><span>LinkedIn</span></li>
        <li class="share-panel__option"><i class="icon icon--stumbleupon"></i><span>Stumbleupon</span></li>
        <li class="share-panel__option"><i class="icon icon--email"></i><span>Email</span></li>
      </ul>
    </div>
    <div class="card__toolbar">
      <div class="card__toolbar-inner">
        <div class="card__panel card__panel--love is-hidden">
          <span class="js-love-trigger-label">love panel</span>
        </div>

        <div class="card__panel card__panel--add is-hidden">
          <span class="js-add-trigger-label">add</span>
        </div>
      </div>
      <ul class="card__social-icons">
        <li class="card__social js-love-cta"><i class="icon icon--love"></i></li>
        <li class="card__social js-add-cta"><i class="icon icon--add"></i></li>
        <li class="card__social js-share-cta"><i class="icon icon--share"></i></li>
      </ul>
    </div>
  </div>
</script>
