<script id="card" type="text/x-handlebars-template">

  <div class="card card--video card--{{ product }} js-card">
    <div class="card__media av-player js-poster">
      <div class="av-player__controls">
        <div class="av-player__control av-player__control--pause js-pause"><i class="icon icon--pause"></i></div>
        <div class="av-player__control av-player__control--scrubber">
          <div class="progress js-scrubber"><span class="js-progress"></span></div>
        </div>
        <div class="av-player__duration"><span class="av-player__duration-passed js-time-passed">00:00</span><span class="av-player__duration-divider">/</span><span class="av-player__duration-remaining js-time-remaining">00:00</span></div>
        <div class="av-player__control av-player__control--volume js-volume"><i class="icon icon--volume"></i><i class="icon icon--muted"></i>
          <div class="av-player__volume-control"><span class="av-player__volume-bar js-volume-bar"><span class="av-player__volume-level js-volume-level"></span></span></div>
        </div>
        <div class="av-player__control av-player__control--full-screen js-full-screen"><i class="icon icon--fs"></i></div>
      </div>
      <div class="av-player__video">
        <video src="{{ content.src }}" poster="{{ content.poster }}" preload="metadata"></video>
      </div>
    </div>

    <div class="card__content">
      <div class="card__cta  js-play">
        <i class="icon icon--play"></i>
      </div>
      <div class="card__headline">
        <h3>{{ content.headline }}</h3>
      </div>
      <div class="card__sub-headline">
        <p>{{ content.sub-headline }}</p>
      </div>
      <div class="card__attribution {{ content.attribution.class }}"><span>{{ content.attribution.label }}</span></div>
      <div class="card__duration"><i class="icon icon--duration"></i><span class="js-duration">00:00</span></div>
    </div>

    <div class="card__panel card__panel--info js-panel">
      <p>{{ content.info }}</p>
    </div>

    <div class="card__panel card__panel--love js-panel">
      <p>{{ content.info }}</p>
    </div>

    <div class="card__share-panel share-panel js-share-panel">
      <h4>Share...</h4>
      <ul class="share-panel__options">
        <li class="share-panel__option"><i class="icon icon--digg"></i><span>Digg</span></li>
        <li class="share-panel__option"><i class="icon icon--google"></i><span>Google</span></li>
        <li class="share-panel__option"><i class="icon icon--reddit"></i><span>Reddit</span></li>
        <li class="share-panel__option"><i class="icon icon--twitter"></i><span>Twitter</span></li>
        <li class="share-panel__option"><i class="icon icon--facebook"></i><span>Facebook</span></li>
        <li class="share-panel__option"><i class="icon icon--linkedin"></i><span>LinkedIn</span></li>
        <li class="share-panel__option"><i class="icon icon--stumbleupon"></i><span>Stumbleupon</span></li>
        <li class="share-panel__option"><i class="icon icon--email"></i><span>Email</span></li>
      </ul>
    </div>

    <div class="card__toolbar">
      <div class="card__more-cta js-more"><i class="icon icon--arrow-up"></i><i class="icon icon--close"></i><span class="js-panel-trigger-label">More info</span></div>
      <ul class="card__social-icons">
        <li class="card__social js-love-cta"><i class="icon icon--love"></i></li>
        <li class="card__social js-add-cta"><i class="icon icon--add"></i></li>
        <li class="card__social js-share-cta"><i class="icon icon--share"></i></li>
      </ul>
    </div>

  </div>

</script>
