
div.card.card--gallery.js-card

  div.card__media.js-gallery-cta
    img(src="http://clients.tuimedia.com/bbc-assets/proms.jpg")
    div.card__cta
      i.icon.icon--gallery

  div.card__content
    div.card__headline
      h3 BBC Proms
    div.card__sub-headline
      p 2015 Season: Radio 1 Ibiza Prom
    div.card__attribution.bbc-news
      span BBC News

  div.card__panel.js-panel
    p info panel content

  div.card__share-panel.share-panel.js-share-panel
    h4 Share...
    ul.share-panel__options
      li.share-panel__option
        i.icon.icon--digg
        span Digg
      li.share-panel__option
        i.icon.icon--google
        span Google
      li.share-panel__option
        i.icon.icon--reddit
        span Reddit
      li.share-panel__option
        i.icon.icon--twitter
        span Twitter
      li.share-panel__option
        i.icon.icon--facebook
        span Facebook
      li.share-panel__option
        i.icon.icon--linkedin
        span LinkedIn
      li.share-panel__option
        i.icon.icon--stumbleupon
        span Stumbleupon
      li.share-panel__option
        i.icon.icon--email
        span Email

  div.card__toolbar
    div.card__more-cta.js-more
      i.icon.icon--arrow-up
      i.icon.icon--close
      span.js-panel-trigger-label More info

    ul.card__social-icons
      li.card__social
        i.icon.icon--love
      li.card__social
        i.icon.icon--add
      li.card__social.js-share-cta
        i.icon.icon--share


  div.card__gallery.js-gallery

    div.card__gallery-images

      div.card__gallery-image.js-gallery-img
        img(src="gallery-image-1-url")
      div.card__gallery-image.js-gallery-img
        img(src="gallery-image-1-url")
      div.card__gallery-image.js-gallery-img
        img(src="gallery-image-1-url")

    div.card__gallery-controls
      div.card__gallery-prev.js-gallery-prev
        i.icon.icon--prev
      div.card__gallery-play.js-gallery-play
        i.icon.icon--play
      div.card__gallery-pause.js-gallery-pause
        i.icon.icon--pause
      div.card__gallery-prev.js-gallery-next
        i.icon.icon--next
      div.card__gallery-close.js-gallery-close
        i.icon.icon--close