div.card.card--fact.js-card(data-card-bg-url="http://clients.tuimedia.com/bbc-assets/boat.gif")

    div.card__content

        div.card__fact-hashtag
            | #DailyProp

        div.card__fact
            h3 The 85 richest people own the same wealth as the 3.5 billion poorest people.

    div.card__toolbar

        ul.card__social-icons
            li.card__social
                i.icon.icon--love
            li.card__social
                i.icon.icon--add
            li.card__social.js-share-cta
                i.icon.icon--share