<div data-card-bg-url="http://clients.tuimedia.com/bbc-assets/boat.gif" class="card card--fact js-card">
  <div class="card__content">
    <div class="card__fact-hashtag">#DailyProp</div>
    <div class="card__fact">
      <h3>The 85 richest people own the same wealth as the 3.5 billion poorest people.</h3>
    </div>
  </div>
  <div class="card__toolbar">
    <ul class="card__social-icons">
      <li class="card__social"><i class="icon icon--love"></i></li>
      <li class="card__social"><i class="icon icon--add"></i></li>
      <li class="card__social js-share-cta"><i class="icon icon--share"></i></li>
    </ul>
  </div>
</div>