div.card.card--video.js-card

  div.card__media.av-player.js-poster
    div.av-player__controls

      div.av-player__control.av-player__control--play.js-play
        i.icon.icon--play

      div.av-player__control.av-player__control--pause.js-pause
        i.icon.icon--pause

      div.av-player__control.av-player__control--scrubber
        div.progress.js-scrubber
          span.js-progress

      div.av-player__duration
        span.av-player__duration-passed.js-time-passed 00:00
        span.av-player__duration-divider /
        span.av-player__duration-remaining.js-time-remaining 00:00

      div.av-player__control.av-player__control--volume.js-volume
        i.icon.icon--volume
        i.icon.icon--muted
        div.av-player__volume-control
          span.av-player__volume-bar.js-volume-bar
            span.av-player__volume-level.js-volume-level

       div.av-player__control.av-player__control--full-screen.js-full-screen
        i.icon.icon--fs

    div.av-player__video
      video(src='http://clients.tuimedia.com/bbc-assets/no9.mp4' poster='http://clients.tuimedia.com/bbc-assets/insideno9.jpg' preload="metadata")

  div.card__content
    div.card__headline
      h3 Inside No. 9
    div.card__sub-headline
      p Interview: Reece Shearsmith & Steven Pemberton
    div.card__attribution.bbc-two
      span BBC Two

    div.card__duration
      i.icon.icon--duration
      span.js-duration
        | 00:00

  div.card__panel.js-panel
    p Donec eu nulla porta, pretium mi vitae, congue leo. Quisque id metus odio. Donec fermentum nibh mi, vitae consectetur orci mattis et. Sed dolor dolor, vestibulum vel nisl eu, gravida eleifend lorem.

  div.card__share-panel.share-panel.js-share-panel
    h4 Share...
    ul.share-panel__options
      li.share-panel__option
        i.icon.icon--digg
        span Digg
      li.share-panel__option
        i.icon.icon--google
        span Google
      li.share-panel__option
        i.icon.icon--reddit
        span Reddit
      li.share-panel__option
        i.icon.icon--twitter
        span Twitter
      li.share-panel__option
        i.icon.icon--facebook
        span Facebook
      li.share-panel__option
        i.icon.icon--linkedin
        span LinkedIn
      li.share-panel__option
        i.icon.icon--stumbleupon
        span Stumbleupon
      li.share-panel__option
        i.icon.icon--email
        span Email

  div.card__toolbar
    div.card__more-cta.js-more
      i.icon.icon--arrow-up
      i.icon.icon--close
      span.js-panel-trigger-label More info

    ul.card__social-icons
      li.card__social
        i.icon.icon--love
      li.card__social
        i.icon.icon--add
      li.card__social.js-share-cta
        i.icon.icon--share