

.card--sport {
  .card__sub-headline,
  .card__duration,
  .card__attribution {
    display: none;
  }
  overflow: visible;
  box-shadow: none;
  &:after {
    position: absolute;
    content: '';
    right: $half-spacing-unit;
    bottom: 0;
    width: 90%;
    height: 50px;
    background: #bbb;
    transform: rotate(2deg);
    transform-origin: 0 100%;
  }
  .card__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: map-get($card-theme, toolbar-height);
    left: 0;
  }

  .card__headline {
    color: red;
    font-family: fs-clerkenwell-bold, sans-serif;
  }
}