$card-theme: (
  bg: map-get($brand-colors, bbc-sport),
  content-bg: rgba(0,0,0,0.3),
  color: #565656,
  box-shadow: 0px 6px 0px -4px #bbb,
  toolbar-height: 48px,
  toolbar-bg: map-get($brand-colors, bbc-sport),
  toolbar-border: none,
  icon-w: 48px,
  icon-h: 48px,
  cta-bg: map-get($brand-colors, bbc-sport),
  cta-color: #ffffff,
  cta-hover-bg: #ffffff,
  cta-hover-color: #000000,
  share-panel-bg: map-get($brand-colors, bbc-sport),
  share-panel-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000),
  control-ui-bg: rgba(0,0,0,0.7)
);

