


.card {
  background: #fff;
  margin-bottom: 16px;
  box-shadow: 0px 6px 0px -4px #bbb;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;


  // transparent bg card

  &.trans-bg {
    .card__content {
      background: transparent;
    }
  }


  // TODO: this is too general (?)

  .icon {
    width: 48px;
    height: 48px;
  }


  // generic media wrapper (can contain video, audio or img)

  &__media {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: $panel-transition;
    img,
    video,
    audio {
      width: 100%;
      height: auto;
      display: block;
    }
    &:hover {
      .card__cta {
        background: #fff;
        color: #000;
      }
    }
  }


    // media CTA (GEL icon btn)

    &__cta {
      position: absolute;
      top: -48px;
      left: 0;
      width: 48px;
      height: 48px;
      background: $control-ui-bg;
      cursor: pointer;
      color: #fff;

    }

    &.is-playing .card__cta {
      display: none;
    }


  // generic content wrapper

  &__content {
    padding: 16px;
    flex-grow: 1;
    align-self: stretch;
    background: #fff;
    position: relative;
    z-index: 3;
    transition: $panel-transition;
    display: flex;
    flex-wrap: wrap;
    ul li, p {
      color: #565656;
    }
    a {
      color: map-get($brand-colors, iplayer);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }


    // card headline

    &__headline {
      h2, h3, h4, h5 {
        margin: 0;
        font-weight: 600;
      }
      margin-bottom: 8px;
      width: 100%;
    }

    // card sub-headline

    &__sub-headline {
      color: #565656;
      margin-bottom: 24px;
      width: 100%;
      p {
        font-weight: 500;
        margin: 0;
      }
    }


    // card product attribution (e.g. BBC News, BBC Sport)

    &__attribution {
      color: #565656;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 200;
      padding: 0;
      transition: $panel-transition;
      align-self: flex-end;
      position: relative;
      padding-left: 12px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: #ccc;
        width: 4px;
      }
      &.bbc-one:before {
        background: map-get($brand-colors, bbc-one);
      }
      &.bbc-two:before {
        background: map-get($brand-colors, bbc-two);
      }
      &.bbc-three:before {
        background: map-get($brand-colors, bbc-three);
      }
      &.bbc-four:before {
        background: map-get($brand-colors, bbc-four);
      }
      &.bbc-news:before {
        background: map-get($brand-colors, bbc-news);
      }
      &.bbc-radio3:before {
        background: map-get($brand-colors, bbc-radio3);
      }
    }


    // contributor mugshot, name and title

    &__contributor {
      display: flex;
    }

      &__contributor-img {
        border-radius: 50%;
        overflow: hidden;
        align-self: flex-start;
        width: 60px;
        margin-right: 16px;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      &__contributor-details {
        h4, p {
          margin: 0;
        }
      }

    &__duration {
      color: #565656;
      display: flex;
      font-weight: 200;
      align-self: flex-end;
      position: relative;
      .icon {
        width: auto;
        height: auto;
        justify-content: flex-end;
        margin-right: 8px;
      }
    }

  &__panel {
    position: absolute;
    right: 0;
    left: 0;
    background: #fff;
    transition: $panel-transition;
    z-index: 2;
    height: 100%;
    padding: 0 16px 16px 16px;
    ul li, p {
      color: #565656;
    }
  }

  &__share-panel {
    background: $share-panel-bg;
    position: absolute;
    top: 0;
    right: 0;
    bottom: $card-toolbar-height;
    left: 0;
    z-index: 10;
    padding: 16px;
  }

  &__toolbar {
    z-index: 3;
    color: #565656;
    border-top: $card-toolbar-border;
    height: $card-toolbar-height;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

    &__more-cta {
      cursor: pointer;
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
      &:hover {
        background: lighten(#ccc, 15%);
      }
      .icon {
        &--arrow-up {

        }
        &--close {
          display: none;
        }
      }
    }

    &__social-icons {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 100%;
      display: flex;
      li {
        height: 100%;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-left: $card-toolbar-border;
        &:hover {
          background: lighten(#ccc, 15%);
        }
        span {
          padding-left: 16px;
          display: none;
        }
        @include media-query(map-get($break, l)) {
          span {
            display: block;
          }
        }
      }
    }

  &.is-active {
    .card__content {
      top: 0;
    }
    .card__more-cta .icon {
      &--arrow-up {
        display: none;
      }
      &--close {
        display: flex;
      }
    }
  }

}

.overlay-bg {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: none;
}

