.card {
  background: map-get($card-theme, bg);
  margin-bottom: 16px;
  box-shadow: map-get($card-theme, box-shadow);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: stretch;

  .icon {
    width: map-get($card-theme, icon-w);
    height: map-get($card-theme, icon-h);
  }

  // transparent bg card

  &.trans-bg {
    .card__content {
      background: transparent;
    }
  }

  &.is-active {
    .card__content {
      top: 0;
    }
    .card__more-cta .icon {
      &--arrow-up {
        display: none;
      }
      &--close {
        display: flex;
      }
    }
  }

}


.card__inner {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: 100%;
  flex-direction: column;

}

// generic media wrapper (can contain video, audio or img)
.card__media {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: map-get($card-theme, share-panel-transition);
  width: 100%;
  // align-self: flex-start;
  img,
  video,
  audio {
    width: 100%;
    height: auto;
    display: block;
  }
  &:hover {
    .card__cta {
      background: map-get($card-theme, cta-hover-bg);
      color: map-get($card-theme, cta-hover-color);
    }
  }
}


// media CTA (GEL icon btn)

.card__cta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: map-get($card-theme, control-ui-bg);
  cursor: pointer;
  color: #fff;
  .is-playing & {
    display: none;
  }
}


// generic content wrapper

.card__content {
  width: 100%;
  padding: 16px;
  flex-grow: 1;
  align-self: stretch;
  background: map-get($card-theme, content-bg);
  position: relative;
  z-index: 3;
  transition: map-get($card-theme, share-panel-transition);
  display: flex;
  flex-wrap: wrap;
  ul li, p {
    color: map-get($card-theme, color);
  }
  a {
    color: map-get($brand-colors, iplayer);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


// card headline

.card__headline {
  h2, h3, h4, h5 {
    margin: 0;
    font-weight: 600;
    @include font-size(20px);
  }
  margin-bottom: 8px;
  width: 100%;
}

// card sub-headline

.card__sub-headline {
  color: map-get($card-theme, color);
  margin-bottom: 24px;
  width: 100%;
  p {
    font-weight: 500;
    margin: 0;
  }
}


// card product attribution (e.g. BBC News, BBC Sport)

.card__attribution {
  color: map-get($card-theme, color);
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
  // transition: $panel-transition;
  align-self: flex-end;
  position: relative;
  padding-left: 12px;
  margin-right: $base-spacing-unit;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #ccc;
    width: 4px;
  }
  &.bbc-one:before {
    background: map-get($brand-colors, bbc-one);
  }
  &.bbc-two:before {
    background: map-get($brand-colors, bbc-two);
  }
  &.bbc-three:before {
    background: map-get($brand-colors, bbc-three);
  }
  &.bbc-four:before {
    background: map-get($brand-colors, bbc-four);
  }
  &.bbc-news:before {
    background: map-get($brand-colors, bbc-news);
  }
  &.bbc-radio3:before {
    background: map-get($brand-colors, bbc-radio3);
  }
}


// contributor mugshot, name and title

.card__contributor {
  display: flex;
}

.card__contributor-img {
  border-radius: 50%;
  overflow: hidden;
  align-self: flex-start;
  width: 60px;
  margin-right: 16px;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

&__contributor-details {
  h4, p {
    margin: 0;
  }
}

.card__duration {
  color: map-get($card-theme, color);
  display: flex;
  font-weight: 200;
  align-self: flex-end;
  position: relative;
  .icon {
    width: auto;
    height: auto;
    justify-content: flex-end;
    margin-right: 8px;
  }
}

.card__panel {
  position: absolute;
  right: 0;
  left: 0;
  background: map-get($card-theme, bg);
  transition: map-get($card-theme, share-panel-transition);
  z-index: 2;
  height: 100%;
  padding: 0 16px 16px 16px;

  ul li, p {
    color: map-get($card-theme, color);
  }

  &--love,
  &--add {
    padding: 0 16px;
    display: flex;
    align-items: center;
    background: transparent;
    &.is-hidden {
      transform: translateY(100%);
    }
  }

  &--love {
    color: $color-love;
  }

  &--add {
    color: $color-add;
  }

}

.card__share-panel {
  background: map-get($card-theme, share-panel-bg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: map-get($card-theme, toolbar-height);
  left: 0;
  z-index: 10;
  padding: 16px;
}

.card__toolbar {
  width: 100%;
  z-index: 3;
  color: map-get($card-theme, color);
  border-top: map-get($card-theme, toolbar-border);
  height: map-get($card-theme, toolbar-height);
  background: map-get($card-theme, toolbar-bg);
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.card__toolbar-inner {
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.card__more-cta {
  cursor: pointer;
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  transition: transform .4s;
  &.is-hidden {
    transform: translateY(100%);
  }
  &:hover {
    background: lighten(#ccc, 15%);
  }
  .icon {
    &--close {
      display: none;
    }
  }
}

.card__social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  li {
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-left: map-get($card-theme, toolbar-border);
    &:hover {
      background: lighten(#ccc, 15%);
    }
    span {
      padding-left: 16px;
      display: none;
    }
    @include media-query(map-get($break, l)) {
      span {
        display: block;
      }
    }
  }
}
.card__social {
  &.is-loved {
    color: $color-love;
  }
}
.card__social {
  &.is-added {
    color: $color-add;
  }
}

.overlay-bg {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: none;
}

