extends layouts/base
block content
    div.grid.grid--flex-cell

        div.grid__item.w--xs-one-whole.w--s-one-half.w--m-one-third

            include templates/card--video.jade

        div.grid__item.w--xs-one-whole.w--s-one-half.w--m-one-third

            include templates/card--audio.jade

        div.grid__item.w--xs-one-whole.w--s-one-half.w--m-one-third

            include templates/card--gallery.jade

        div.grid__item.w--xs-one-whole.w--s-one-half.w--m-one-third

            include templates/card--poll.jade

        div.grid__item.w--xs-one-whole.w--s-one-half.w--m-one-third

            include templates/card--story.jade

        div.grid__item.w--xs-one-whole.w--s-one-half.w--m-one-third

            include templates/card--quote.jade

        div.grid__item.w--xs-one-whole.w--s-one-half.w--m-one-third

            include templates/card--fact.jade

